<h3>Current Assignments that have been added</h3>

<ul>
  <li class="display-assignments">ID: <a href="/{{assignmentlist0}}">{{assignmentlist0}}</a></li>
  <li class="display-assignments">ID: {{assignmentlist1}}</li>
  <li class="display-assignments">ID: {{assignmentlist2}}</li>
  <li class="display-assignments">ID: {{assignmentlist3}}</li>
  <li class="display-assignments">ID: {{assignmentlist4}}</li>
</ul>
