<h3>Current Assignments that have been added</h3>

<ul>
  <li class="display-assignments">ID: <a href="/users/displayAssignment/{{assignmentlist0}}" id="sub-link">{{assignmentlist0}}</a></li>
  <li class="display-assignments">ID: <a href="/users/displayAssignment/{{assignmentlist1}}" id="sub-link">{{assignmentlist1}}</a></li>
  <li class="display-assignments">ID: <a href="/users/displayAssignment/{{assignmentlist2}}" id="sub-link">{{assignmentlist2}}</a></li>
  <li class="display-assignments">ID: <a href="/users/displayAssignment/{{assignmentlist3}}" id="sub-link">{{assignmentlist3}}</a></li>
  <li class="display-assignments">ID: <a href="/users/displayAssignment/{{assignmentlist4}}" id="sub-link">{{assignmentlist4}}</a></li>
</ul>
