<h1>Here is your requested Assignment</h1>
<ul>
  <li class="display-assignments">ID: {{assignment.num}}</li>
  <li class="display-assignments">Period: {{assignment.period}}</li>
  <li class="display-assignments">Teacher's Name: {{assignment.teacher}}</li>
  <li class="display-assignments">Assignment: {{assignment.assignment}}</li>
  <li class="display-assignments">Due Date: {{assignment.date}}</li>
</ul>
<a class="btn" href="/modify/edit/{{assignment.num}}">Edit</a>
<a class="btn" href="/users/home">Back</a>
